
.preloader{
    position: fixed;
    top : 0;
    left : 0;
    background-color: #1E1E1C;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.preloader h1{
    color : white;
    font-size: 5rem;
    font-family: Agbalumo;
    text-align: center;
}

.preloader .loader{
    display: block;
    width: 100px;
    height: 100px;
}

.preloader .loader::before{
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    border: 6px solid white;
    border-color: white transparent white transparent;
    border-radius: 50%;
    animation: loader 1s infinite ease-in-out;
}

@keyframes loader {
    0% {
        transition: rotation(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
} 


